BraveSoftware/ 
Code/ 
Mousepad/ 
Qt-Project.conf/ 
abrt/ 
cava/ 
celluloid/ 
dconf/ 
discord/
google-chrome/
htop/
libreoffice/ 
lxqt/ 
Mousepad/ 
mpv/ 
nautilus/ 
obs-studio/ 
pulse/
qBittorrent/ 
Thunar/ 
xarchive/ 
xfce/ 
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
xfce4/
containers/
Electron/
enchant/
gedit/
JetBrains/
menus/
MongoDB\ Compass/
Podman\ Desktop/
Postman/
