BraveSoftware/ 
Code/ 
Mousepad/ 
Qt-Project.conf/ 
abrt/ 
cava/ 
celluloid/ 
dconf/ 
google-chrome/
htop/
libreoffice/ 
lxqt/ 
Mousepad/ 
mpv/ 
nautilus/ 
nvim/ 
obs-studio/ 
pulse/
qBittorrent/ 
Thunar/ 
xarchive/ 
xfce/ 

